.container {
    max-width: 700px;
    margin: 0 auto;

    h1 {
        text-align: center;
        font-size: 2.2em;
    }
    article {
        font-size: 1.5em;
    }
}

.footer {
    max-width: 700px;
    margin-top: 5em;
    margin: 0 auto;
}

.stage {
    border: 0.2em solid #000000;
    display: inline-block;
}

button {
    border: none;
    margin-bottom: 2em;
    cursor: pointer;
    &.active {
        background-color: #9ed3ff;
    }
}

.tile {
    float: left;
    width: 2em;
    height: 2em;
    .start {
        width: 1.9em;
        height: 1.9em;
        background-color: #3fff3d;
        margin-left: 0.05em;
        margin-top: 0.05em;
        position: absolute;
    }
    .finish {
        @extend .start;
        background-color: #fffa0a;
    }
    .robot {
        position: absolute;
        width: 1.8em;
        height: 1.8em;
        background-color: #ff0000;
        margin-left: 0.1em;
        margin-top: 0.1em;
        z-index: 2;
    }
    .marked {
        @extend .start;
        background-color: #00fffc;
    }
}

.tile--1 {
    background-color: #000000;
}

.end {
    clear: left;
}