.stage {
    border: 0.2em solid #000000;
    display: inline-block;
}

.tile {
    float: left;
}

.start {
    background-color: #00A000;
}

.finish {
    background-color: #cc0000;
}

.wall {
    @extend .tile;
    width: 2.5em;
    height: 2.5em;
    background-color: #8A6343;
}

.l {
    @extend .tile;
    width: 2.25em;
    height: 2em;
    border-top: 0.25em solid #8A6343;
    border-bottom: 0.25em solid #8A6343;
    border-right: 0.25em solid #8A6343;
}
.r {
    @extend .tile;
    width: 2.25em;
    height: 2em;
    border-top: 0.25em solid #8A6343;
    border-bottom: 0.25em solid #8A6343;
    border-left: 0.25em solid #8A6343;
}
.u {
    @extend .tile;
    width: 2em;
    height: 2.25em;
    border-left: 0.25em solid #8A6343;
    border-right: 0.25em solid #8A6343;
    border-bottom: 0.25em solid #8A6343;
}
.d {
    @extend .tile;
    width: 2em;
    height: 2.25em;
    border-left: 0.25em solid #8A6343;
    border-right: 0.25em solid #8A6343;
    border-top: 0.25em solid #8A6343;
}
.lr {
    @extend .tile;
    width: 2.5em;
    height: 2em;
    border-top: 0.25em solid #8A6343;
    border-bottom: 0.25em solid #8A6343;
}
.ld {
    @extend .tile;
    height: 2.25em;
    width: 2.25em;
    border-top: 0.25em solid #8A6343;
    border-right: 0.25em solid #8A6343;
}
.lu {
    @extend .tile;
    height: 2.25em;
    width: 2.25em;
    border-right: 0.25em solid #8A6343;
    border-bottom: 0.25em solid #8A6343;
}
.ud {
    @extend .tile;
    height: 2.5em;
    width: 2em;
    border-left: 0.25em solid #8A6343;
    border-right: 0.25em solid #8A6343;
}
.ur {
    @extend .tile;
    height: 2.25em;
    width: 2.25em;
    border-left: 0.25em solid #8A6343;
    border-bottom: 0.25em solid #8A6343;
}
.rd {
    @extend .tile;
    height: 2.25em;
    width: 2.25em;
    border-left: 0.25em solid #8A6343;
    border-top: 0.25em solid #8A6343;
}
.lur {
    @extend .tile;
    height: 2.25em;
    width: 2.5em;
    border-bottom: 0.25em solid #8A6343;
}
.ldr {
    @extend .tile;
    height: 2.25em;
    width: 2.5em;
    border-top: 0.25em solid #8A6343;
}
.lud {
    @extend .tile;
    height: 2.5em;
    width: 2.25em;
    border-right: 0.25em solid #8A6343;
}
.rud {
    @extend .tile;
    height: 2.5em;
    width: 2.25em;
    border-left: 0.25em solid #8A6343;
}
.lrud {
    @extend .tile;
    height: 2.5em;
    width: 2.5em;
}
.end {
    clear: left;
}