<div class="stage">
    <div class="r start"></div>
    <div class="lr"></div>
    <div class="ld"></div>
    <div class="lu"></div>
    <div class="l"></div>
    <div class="u"></div>
    <div class="ur"></div>
    <div class="ud"></div>
    <div class="r"></div>
    <div class="rd"></div>
    <div class="d"></div>
    <div class="wall"></div>
    <div class="lur"></div>
    <div class="ldr"></div>
    <div class="lud"></div>
    <div class="rud"></div>
    <div class="end"></div>

    <div class="wall"></div>
    <div class="rd"></div>
    <div class="lu"></div>
    <div class="lr"></div>
    <div class="lr"></div>
    <div class="lr"></div>
    <div class="end"></div>

    <div class="rd"></div>
    <div class="lu"></div>
    <div class="wall"></div>
    <div class="lr"></div>
    <div class="lr"></div>
    <div class="lr"></div>
</div>